@import "../../css/variables.scss";

.container {
  @include section-center;
  padding-top: 2rem;
  padding-bottom: 2rem;

  h2 {
    text-align: center;
    margin-bottom: 2rem;
  }
}

.hours {
  @include flex-col;
  align-items: center;
}

.date {
  @include flex-row;
  width: 15rem;
  margin-bottom: 0.25rem;

  p {
    width: 50%;
  }
}

.book {
  button {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 8rem;
    height: 2.5rem;
    border: none;
    border-radius: 10px;
    color: $white-text;
    font-weight: 600;
    background-color: $primary;
  }

  button:after {
    content: "";
    position: absolute;
    width: 70%;
    bottom: 0;
    right: 15%;
    height: 0;
    border-bottom: 1px solid rgba($color: $black, $alpha: 0.1);
    transform: translateY(2rem);
  }
}

.phone {
  @include flex-row;
  margin: 2rem 0 1rem;
  align-items: center;
  justify-content: center;

  svg {
    margin-right: 0.5rem;
    font-size: 1.1rem;
  }
}
