@import "../../css/variables.scss";

.container {
  @include section-center;
  padding-top: 2rem;
  padding-bottom: 2rem;

  h2 {
    text-align: center;
    margin-bottom: 2rem;
  }
}

.hours {
  @include flex-col;
  max-width: 400px;
  margin: 0 auto;
}

.date {
  display: grid;
  grid-template-columns: 1fr auto;
  margin-bottom: 0.25rem;
  padding-bottom: 0.25rem;
  border-bottom: 1px solid rgba($color: $black, $alpha: 0.05);
}
.date:last-of-type {
  border-bottom: none;
}

.book {
  button {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 8rem;
    height: 2.5rem;
    border: none;
    border-radius: 10px;
    color: $white-text;
    font-weight: 600;
    background-color: $primary;
  }

  button:after {
    content: "";
    position: absolute;
    width: 70%;
    bottom: 0;
    right: 15%;
    height: 0;
    border-bottom: 1px solid rgba($color: $black, $alpha: 0.1);
    transform: translateY(2rem);
  }
}

.phone {
  @include flex-row;
  margin: 2rem 0 1rem;
  align-items: center;
  justify-content: center;

  svg {
    margin-right: 0.5rem;
    font-size: 1.1rem;
  }
}

@media only screen and (min-width: 768px) {
  .opening {
    width: 50%;
  }

  .container {
    width: 100%;
    margin: 0;
    padding: 5rem 0;
  }

  .book {
    button:after {
      display: none;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .date {
    // width: 18rem;

    p {
      // width: 50%;
      font-size: 1.2rem;
    }
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    h2 {
      font-size: 2.5rem;
    }
  }
}
