@import "../../css/variables.scss";

.container {
  @include section-center;
  padding-top: 2rem;
  padding-bottom: 2rem;

  h2 {
    text-align: center;
    margin-bottom: 1.5rem;
  }
}

.hours {
  @include flex-col;
  align-items: center;
}

.date {
  @include flex-row;
  width: 15rem;

  p {
    width: 50%;
  }
}

.book {
  button {
    display: block;
    margin: 0 auto;
    width: 8rem;
    height: 2.5rem;
    border: none;
    border-radius: 10px;
    color: $white-text;
    font-weight: 600;
    background-color: $primary;
  }
}

.phone {
  @include flex-row;
  margin: 1rem 0;
  align-items: center;
  justify-content: center;
  transform: translateX(-1rem);

  svg {
    margin-right: 0.5rem;
    font-size: 1.1rem;
  }
}
