@import "../../css/variables.scss";

.hero {
  min-height: calc(100vh - #{$header-height});
  height: 100%;
}

.overlay {
  min-height: calc(100vh - #{$header-height});
  height: 100%;
  width: 100%;
  background-color: rgba($color: $black, $alpha: 0.4);
  @include flex-row;
  align-items: center;
}

.container {
  @include section-center;
}

.text {
  max-width: 280px;
  h1,
  h4,
  p {
    color: $white-text;
    margin-bottom: 1.25rem;
  }

  button {
    width: 8rem;
    height: 3rem;
    background-color: rgba($color: $black, $alpha: 0.4);
    border: 1px solid $white-text;
    color: $white-text;
    font-weight: 600;
    border-radius: 10px;
  }

  button:first-of-type {
    margin-right: 0.5rem;
  }
}

@media only screen and (min-width: 568px) {
  .hero {
    min-height: calc(100vh - #{$header-height-lg});
  }

  .overlay {
    min-height: calc(100vh - #{$header-height-lg});
  }

  .text {
    max-width: 400px;
  }
}

@media only screen and (min-width: 768px) {
  .text {
    max-width: 500px;

    h1 {
      font-size: 2.5rem;
    }

    h4 {
      font-size: 1.3rem;
    }

    p {
      font-size: 1.1rem;
      width: 80%;
      margin-bottom: 1.75rem;
    }

    button {
      width: 10rem;
    }
  }

  .buttons {
    margin-top: 0.5rem;
  }
}
