@import "../../css/variables.scss";

.hero {
  min-height: calc(100vh - #{$header-height});
  height: 100%;
}

.overlay {
  min-height: calc(100vh - #{$header-height});
  height: 100%;
  width: 100%;
  background-color: rgba($color: $black, $alpha: 0.4);
  @include flex-row;
  align-items: center;
}

.container {
  @include section-center;
}

.text {
  max-width: 280px;
  h1,
  h4,
  h3,
  p {
    color: $white-text;
    margin-bottom: 1.25rem;
  }

  button {
    width: 8rem;
    height: 3rem;
    background-color: rgba($color: $black, $alpha: 0.4);
    border: 1px solid $white-text;
    color: $white-text;
    font-weight: 600;
    border-radius: 10px;
  }

  button:first-of-type {
    margin-right: 0.5rem;
  }
}
