@import "../../css/variables.scss";

.container {
  @include section-center;
  @include flex-col;
  height: 100%;
  padding-top: $header-height;
  justify-content: center;
  align-items: center;

  h2,
  p {
    margin-bottom: 1rem;
  }

  // Back button
  button {
    background-color: $primary;
    padding: 0.75rem 2rem;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    color: $white-text;
  }
}
