@import "../../css/variables.scss";

.reviews {
  width: 100%;
}

.overlay {
  width: 100%;
  background-color: rgba($color: #8c3b2d, $alpha: 0.9);
}

.container {
  @include section-center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.text {
  h2 {
    text-align: center;
    color: $white-text;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    padding: 5rem 0;
  }

  .text {
    h2 {
      margin-bottom: 2rem;
    }
  }
}

@media only screen and (min-width: 1280px) {
  .text {
    h2 {
      font-size: 3rem;
    }
    p {
      font-size: 1.2rem;
    }
  }
}
