@import "../../css/variables.scss";

.reviews {
  width: 100%;
}

.overlay {
  width: 100%;
  background-color: rgba($color: #8c3b2d, $alpha: 0.9);
}

.container {
  @include section-center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.text {
  h2 {
    text-align: center;
    color: $white-text;
  }
}
