@import "../../css/variables.scss";

.about {
  position: relative;
  overflow: hidden;
}

.mint {
  width: 175px;
  top: 10px;
  right: 0;
  transform: translateX(40px) rotate(20deg);
  z-index: 90;
}

.container {
  @include section-center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.text {
  h2,
  p {
    margin-bottom: 1.25rem;
    z-index: 99;
  }

  p:first-of-type {
    margin-right: 3.5rem;
  }
}

.imageContainer {
  width: 80%;
  margin: 3rem auto 2rem;
  border-radius: 10px;
  transform: translate(15px, -15px);
}

.image {
  border-radius: 10px;
  transform: translate(-25px, 25px);
}

@media only screen and (min-width: 768px) {
  .container {
    @include flex-row;
    padding-top: 4rem;
    padding-bottom: 4rem;
    align-items: center;
  }

  .text {
    width: 50%;
    margin-right: 2rem;

    h2 {
      font-size: 2.5rem;
      margin-bottom: 2rem;
    }

    p:first-of-type {
      margin-right: 0;
    }
  }

  .imageContainer {
    width: 50%;
    max-width: 600px;
    margin: 0 0 0 2rem;
  }
}

@media only screen and (min-width: 1024px) {
  .mint {
    width: 200px;
    top: 15px;
    left: 0;
    transform: translateX(-80px) rotate(-30deg);
    z-index: 90;
  }

  .rosemary {
    width: 200px;
    bottom: 15px;
    left: 0;
    transform: translateX(-60px) rotate(20deg);
    z-index: 90;
  }
}

@media only screen and (min-width: 1280px) {
  .about,
  .container {
    min-height: 100vh;
  }
  .text {
    margin-right: 3rem;
    h2 {
      font-size: 3.5rem;
    }
    p {
      font-size: 1.2rem;
      margin-bottom: 2rem;
    }
  }

  .imageContainer {
    margin-left: 4rem;
  }

  .text,
  .imageContainer {
    width: 40%;
  }
}

@media only screen and (min-width: 1440px) {
  .mint,
  .rosemary {
    width: 300px;
  }

  .imageContainer {
    transform: translate(30px, -30px);
  }

  .image {
    border-radius: 10px;
    transform: translate(-40px, 40px);
  }
}

@media only screen and (min-width: 1536px) {
  .mint,
  .rosemary {
    width: 400px;
  }
}
