@import "../../css/variables.scss";

.navigation {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: $bg-color;
  z-index: 999;
}

.container {
  position: relative;
  @include section-center;
  height: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;

  @include flex-col;
  align-items: center;
  justify-content: center;

  ul {
    li {
      margin-bottom: 2rem;
      font-size: 1.75rem;
      text-align: center;
      color: $heading-color;
    }
  }
}

.close {
  position: absolute;
  top: 1.75rem;
  right: 0;
  font-size: 2rem;
}
