@import "../../css/variables.scss";

.header {
  height: $header-height;
  background-color: $bg-color;
  @include flex-col;
  justify-content: center;
}

.container {
  @include section-center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  @include flex-row;
  justify-content: space-between;
  align-items: center;
}

.icon {
  font-size: 2rem;
}

.navigation {
  display: none;
}

@media only screen and (min-width: 568px) {
  .header {
    height: $header-height-lg;
  }

  .container {
    height: 100%;
    @include flex-col;
  }

  .icon {
    display: none;
  }

  .navigation {
    display: block;
    margin-top: 1rem;

    ul {
      @include flex-row;

      li {
        margin: 0 1.25rem;
        color: $heading-color;
        font-size: 0.9rem;
      }
    }
  }
}
