@import "../../css/variables.scss";

// Header container
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  @include flex-col;
  justify-content: center;
  z-index: 998;
  transition: all 0.5s linear;
}

// Inner centered container
.container {
  @include section-center;
  @include flex-row;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

// Nav toggle icon
.icon {
  font-size: 1.5rem;
  color: $white-text;
}

// Desktop navigation
.navigation {
  display: none;
}

@media only screen and (min-width: 768px) {
  // Hide nav icon
  .icon {
    display: none;
  }

  // Display desktop nav
  .navigation {
    display: block;

    ul {
      @include flex-row;

      li {
        margin: 0 2rem;
        color: $white-text;
        font-size: 1rem;
        // font-weight: 600;
        cursor: pointer;
      }
    }
  }
}
