@import "../../css/variables.scss";

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  background-color: rgba($color: $black, $alpha: 0.6);
  @include flex-col;
  justify-content: center;
  z-index: 998;
}

.container {
  @include section-center;
  @include flex-row;
  justify-content: space-between;
  align-items: center;
}

.icon {
  font-size: 1.5rem;
  color: $white-text;
}

.navigation {
  display: none;
}

@media only screen and (min-width: 768px) {
  .header {
    height: $header-height;
  }

  .container {
    height: 100%;
    @include flex-row;
    align-content: center;
  }

  .icon {
    display: none;
  }

  .navigation {
    display: block;

    ul {
      @include flex-row;

      li {
        margin: 0 2rem;
        color: $white-text;
        font-size: 1rem;
        // font-weight: 600;
        cursor: pointer;
      }
    }
  }
}
