@import "../../css/variables.scss";

.container {
  @include section-center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  @include flex-row;
  justify-content: space-between;
  align-items: center;
}

.icon {
  font-size: 2rem;
}
