@import "../../css/variables.scss";

.container {
  @include section-center;
  padding: 2rem 0;

  h2 {
    text-align: center;
    margin-bottom: 2rem;
  }
}

.map {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
}
