@import "../../css/variables.scss";

.container {
  @include section-center;
  padding: 2rem 0;

  h2 {
    text-align: center;
    margin-bottom: 2rem;
  }
}

.map {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  .findus {
    width: 50%;
    margin-left: 1.5rem;
  }
  .map {
    max-width: 500px;
    margin: 0 auto;
  }

  .container {
    width: 100%;
    padding: 5rem 0;
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    h2 {
      font-size: 2.5rem;
    }
  }
}
