@import "../../css/variables.scss";

// Gallery section container
.gallery {
  width: 100%;
  overflow: hidden;

  // Remove default margins on images
  div {
    div {
      div {
        margin: 0;
      }
    }
  }
}
