// Main colors
$white: #fff;
$black: #202020;
$grey: #616161;
$primary: #ed4e53;
$white-text: rgba(
  $color: $white,
  $alpha: 0.9,
);

// Sections
$bg-color: $white;
$header-height: 6rem;
$header-height-lg: 9.5rem;

// Text
$heading-color: $black;
$text-color: $grey;
$font: "Poppins", sans-serif;

// Mixins
@mixin flex-col {
  display: flex;
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1350px;
}
