@import "../../css/variables.scss";

.review {
  max-width: 500px;
  margin: 0 auto;
  p,
  h4 {
    color: $white-text;
    text-align: center;
  }

  p {
    margin-bottom: 2rem;
  }
  p:first-of-type {
    font-style: italic;
  }
}

.stars {
  @include flex-row;
  justify-content: center;
  margin: 3rem 0 2rem;

  svg {
    color: gold;
    font-size: 2rem;
    margin: 0 0.25rem;
  }
}

@media only screen and (min-width: 1024px) {
  .review {
    @include flex-col;
    padding: 0 2rem;
    height: 100%;

    p:first-of-type {
      flex: 1;
    }
  }
}
