@import "../../css/variables.scss";

.review {
  p,
  h4 {
    color: $white-text;
    text-align: center;
  }

  p {
    margin-bottom: 2rem;
  }
  p:first-of-type {
    font-style: italic;
  }
}

.stars {
  @include flex-row;
  justify-content: center;
  margin: 3rem 0 2rem;

  svg {
    color: gold;
    font-size: 2rem;
  }
}
