@import "../../css/variables.scss";

// Footer container
.footer {
  background-color: $black;

  p {
    color: $white-text;
    font-size: 0.9rem;
    margin-bottom: 0.25rem;
  }
}

// Inner centered container
.container {
  @include section-center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  @include flex-col;
  align-items: center;
}

// Social icons container
.social {
  margin-top: 0.5rem;
  svg {
    font-size: 2rem;
    color: $white-text;
    margin: 0 0.25rem;
  }
}

// phone number section
.phone {
  @include flex-row;
  align-items: center;

  svg {
    color: $white-text;
    font-size: 0.9rem;
    margin-bottom: 0.25rem;
    margin-right: 0.5rem;
  }
}

@media only screen and (min-width: 1024px) {
  .footer {
    p {
      font-size: 1.1rem;
    }
  }

  .phone {
    svg {
      font-size: 1.1rem;
    }
  }

  .social {
    svg {
      font-size: 2.5rem;
    }
  }
}
